/* CSS for the search bar */
body {
    font-family: "Exo 2",sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #d1f3e5;
    padding: 0 20px;
}

.search-input {
    font-family: JetBrains Mono;
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
}

.search-button {
    font-family: JetBrains Mono;
    padding: 10px 20px;
    background-color: #ebf4f0;
    color: #6c7873;
    border: none;
    border-radius: 0 5px 5px 0;
    font-size: 16px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #5dac8c;
}

.portrait{
    top:68px;
    width: 260px;
    height: 252px;
    position: fixed;
    background-color: #d5d5e8;
}

.portrait h1{
    padding: 0px 10px;
    font-size: 24px;
}
.portrait img{
    position: fixed;
    top: 130px;
    left: 15px;
    height: 180px;
}
.portrait postcode{
    position: fixed;
    left: 150px;
    top: 145px ;
    font-size: 21px;
}
.portrait address{
    position: fixed;
    left: 150px;
    top: 170px;
    font-size: 15;
    color: #808080;
}

.portrait name{
    position:fixed;
    left: 150px;
    top:200px;
    font-size:large ;
}
.infoBrief {
    width: 260px;
    top: 320px;    
    bottom: 0px;
    position: fixed;
}

.infoBrief h2{
    margin-left: 10px;
    font-size: 20px;
}

.overView{
    position:fixed;
    left:268px;
    right:0px;
    height: 100%;

    .riskLevel{
        float: left;
        border: transparent;
        box-shadow: 5px 5px 5px grey;
        background-color: #ffffffff;
        width: 40%;
        height: 50vh;
        position:relative;
        left: 20px;
        min-height: 30vh;
        max-height: 60vh;
        
        .risk{
            text-align: center;
            color:#ff7878;
        }
        .risk h1{
            font-size: 80px;
        }
    }

    .riskLevel h2{
        margin-left: 10px;
    }

    .riskLevel img{
        width: 80%;
        margin-left: 10%;
    }

}
.overView h1{
    margin-left: 20px;
    font-size: 25px;
}

.vitalSignal{
    float: right;
    width: 50%;
    height: 50%;
    margin-right: 5%;
    background-color: #ffffffff;
    box-shadow: 5px 5px 5px #808080;
    padding: 0px 0px 0px 0px;
    align-content: center;
}

.vitalSignal h2{
    margin-left: 10px;
}
.vitalSignal img{
    position:relative;
    height: 80%;
    width: 100%;
}

.Realtime-AI{
    position:fixed;
    top:65%;
    left:268px;
    margin-left: 20px;

    .AIGeneratorContainer{
        position:fixed;
        right: 5%;
        left: 288px;
        height: 40%;
        box-shadow: 5px 5px 5px #808080;
        background-color: #ffffffff;
        .content{
            margin-left: 10px;
        }
    }

    .AIGeneratorContainer h2{
        margin-left: 10px;
    }
}